{{!< default}}

<header class="post-header">
    <div class="vertical">
        <div id="post-head-content" class="inner">
            <a id="blog-logo" href="{{@blog.url}}">
                <h1 class="blog-title"><img alt="{{@blog.title}}" src="/assets/images/uwtb-post.svg" /></h1>
            </a>
        </div>
    </div>
</header>

<main class="content" role="main">
    <article class="{{post_class}}">
        {{! Everything inside the #post tags pulls data from the post }}
        {{#post}}

        <h1 class="post-title">{{{title}}}</h1>

        {{! Everything below outputs content of the the post which has been published }}
        <span class="post-meta">
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time>
            {{#if author}}
                <span class='byline'><a href='{{author.website}}'>{{author.name}}</a></span>
            {{/if}}
            <div class='tags'>{{#if tags}}{{tags separator=" | "}}{{/if}}</div>
        </span>

        <section class="post-content">
            {{content}}
        </section>
        
        <section>
            <div id='discourse-comments'></div>
        </section>
        

        <footer class="post-footer">
            <nav class='post-pagination footer-pagination'>
                <a title="Previous Post" style="display:none;" class="post-pagination-link prev-post"></a>
                <a title="Next Post" style="display:none;" class="post-pagination-link next-post"></a>
            </nav>
        </footer>
        <span id="curr-post-uuid" style="visibility: hidden; display: none;">{{uuid}}</span>
        
        {{/post}}
    </article>
    <section>
	<div id='discourse-comments'></div>
    </section>

    
    <nav class='post-pagination body-pagination'>
        <a title="Previous Post" style="display:none;" class="post-pagination-link prev-post"></a>
        <a title="Next Post" style="display:none;" class="post-pagination-link next-post"></a>
    </nav>
</main>

<script type="text/javascript">
    DiscourseEmbed = {
        discourseUrl: window.location.protocol + '//chrono-synclastic-infundibulum.mattbierner.com/',
        discourseEmbedUrl: window.location.href };

    (function() {
        var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
        d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
    })();
</script>